h1, h2, h3, h4, h5 {
    font-size: 1em;
}

.profile-thumbnail {

}

.btn-primary {
    background-color: grey !important;
}

.btn-danger {
    background-color: grey !important;
}

.btn-info {
    background-color: grey !important;
}

.btn-success {
    background-color: grey !important;
}