<script>
        ClassicEditor
            .create( document.querySelector( '#title' ), {
                toolbar: {
                    items: [
                        '|', 'sourceEditing',
                        '|', 'undo', 'redo',
                        '|', 'removeFormat',
                        '|', 'link',
                        '|', 'specialCharacters',
                        '|', 'italic', 'underline', 'strikethrough', 'subscript',
                            'superscript',
                        '|', 'fontColor', 'fontBackgroundColor',
                    ],
                    shouldNotGroupWhenFull: true
                }
            } )
            .then(editor => {
                editor.model.document.on('change', () => {
                  if (countCharacters(editor.model.document) > 0) {
                    document.querySelector('#title_empty').innerText = ''
                  }
                });
            })
            .catch( error => {
                console.error( error );
            } );
    </script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#body' ), {
                extraPlugins: ['SimpleUploadAdapter'],
                simpleUpload: {
                    uploadUrl: '/upload',
                },
                mediaEmbed: {previewsInData: true}
            } )
            .then(editor => {
                editor.model.document.on('change', () => {
                  if (countCharacters(editor.model.document) > 0) {
                    document.querySelector('#body_empty').innerText = ''
                  }
                });
            })
            .catch( error => {
                console.error( error.stack );
            } );
    </script>
    <script>
        function countCharacters(document) {
          const rootElement = document.getRoot();
          return countCharactersInElement(rootElement);

          function countCharactersInElement(node) {
            let chars = 0;

            for (const child of node.getChildren()) {
              if (child.is('text')) {
                chars += child.data.length;
              } else if (child.is('element')) {
                chars += countCharactersInElement(child);
              }
            }
            console.log(chars);
            return chars;
          }
        }
    </script>
    <script>
        $(".form").submit(function(e) {
            var content = $('#body').val();
            html = $(content).text();
            if ($.trim(html) == '') {
                e.preventDefault();
                $.ajax({
                    success: function(data) {
                        $('#body_empty').html('Пустое поле, введите текст!');
                    }
                });
            }

            var content = $('#title').val();
            html = $(content).text();
            if ($.trim(html) == '') {
                e.preventDefault();
                $.ajax({
                    success: function(data) {
                        $('#title_empty').html('Пустое поле, введите заголовок!');
                    }
                });
            }
        });
    </script>