<script>
        ClassicEditor
            .create( document.querySelector( '#title' ), {
                toolbar: {
                    items: [
                        '|', 'sourceEditing',
                        '|', 'undo', 'redo',
                        '|', 'removeFormat',
                        '|', 'link',
                        '|', 'specialCharacters',
                        '|', 'italic', 'underline', 'strikethrough', 'subscript',
                            'superscript',
                        '|', 'fontColor', 'fontBackgroundColor',
                    ],
                    shouldNotGroupWhenFull: true
                }
            } )
            .catch( error => {
                console.error( error );
            } );
    </script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#body' ), {
                extraPlugins: ['SimpleUploadAdapter'],
                simpleUpload: {
                    uploadUrl: '/upload',
                },
                mediaEmbed: {previewsInData: true}
            } )
            .catch( error => {
                console.error( error.stack );
            } );
    </script>