<ul class="comments">
  {% for comment in comments %}
  <li class="comment" id="comments_comment_{{ comment.id }}">
    <div class="comment-thumbnail">
      <a href="{{ url_for('.user', username=comment.author.username) }}">
        <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
      </a>
    </div>
    <div class="comment-content">
      <div class="comment-stamp">
        <a class="label label-default"
           href="{{ url_for('.post', id=comment.post.id) }}#comments_comment_{{ comment.id }}">
          Комментарий #{{ comment.id }}
        </a>
      </div>
      <div class="comment-author">
        <a href="{{ url_for('.user', username=comment.author.username) }}">
          {{ comment.author.username }}
        </a>
        <span class="fw-light fst-italic">
          {{ comment.timestamp.strftime('%d %B %Y, %H:%M:%S') }}
        </span>
      </div>
      <div class="comment-body">
        {% if comment.status == comment.STATUS_DISABLED_BY_MODERATOR %}
          <p><i>Этот комментарий был удалён модератором.</i></p>
        {% endif %}
        {% if comment.status == comment.STATUS_DELETED_BY_USER %}
          <p><i>Этот комментарий был удалён пользователем.</i></p>
        {% endif %}
        {% if (comment.status == comment.STATUS_PUBLIC) or (current_user == comment.author) %}
          {% if comment.body_html %}
            {{ comment.body_html | safe }}
          {% else %}
            {{ comment.body }}
          {% endif %}
        {% endif %}
      </div>
      <div class="comment_admin col-4" style="display: none">
        {% if (comment.status == comment.STATUS_DISABLED_BY_MODERATOR) or (comment.status == comment.STATUS_DELETED_BY_USER) %}
          <a class="btn-sm btn-success" href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">
            Восстановить [АДМИН]</a>
        {% else %}
          <a class="btn-sm btn-danger" href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">
            Удалить [АДМИН]</a>
        {% endif %}
      </div>
      {% if (current_user == comment.author) %}
        <br>
        {% if comment.status == comment.STATUS_DELETED_BY_USER %}
          <a class="btn-sm btn-success" href="{{ url_for('.moderate_enable_user', id=comment.id, page=page) }}">
            Восстановить</a>
        {% elif comment.status == comment.STATUS_PUBLIC %}
          <a class="btn-sm btn-danger" href="{{ url_for('.moderate_disable_user', id=comment.id, page=page) }}">
            Удалить</a>
        {% endif %}
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
