<script src="/static/scripts/showhide.js"></script>
<ul class="posts mt-0 border-top-0">
  {% for post in posts %}
  <li class="post">
    <div class="post-content">
      <div class="container-fluid d-flex p-0 flex-row flex-wrap post-header">
        <div class="d-flex post-author flex-column flex-grow-1 w-50">
          <div class="d-flex">
            <div class="d-flex flex-shrink-0 me-2 post-thumbnail">
              <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="rounded-circle profile-thumbnail" src="{{ post.author.gravatar(size=40) }}"></a>
            </div>
            <div class="d-flex flex-grow-1 flex-column">
              <div class="d-flex flex-wrap">
                <div class="d-flex">
                  <a href="{{ url_for('.user', username=post.author.username) }}">
                  {{ post.author.username }}</a>
                </div>
                <div class="d-flex">
                  <span class="ms-1 fw-light fst-italic">{{ post.timestamp.strftime('%d %B %Y') }}</span>
                </div>
              </div>
              {% if post.tags|length > 0 %}
              <div class="d-flex  post-tags">
                <span>
                  Теги:
                  {% set tags_sorted = post.tags|sort(attribute='name', reverse=True) %}
                  {% for tag in tags_sorted %}
                    <a href="{{ url_for('main.tag_detail', slug=tag.slug) }}">
                      {{ tag.name }}</a>
                    {% if tag != tags_sorted[-1] %},{% endif %}
                  {% endfor %}
                </span>
              </div>
            {% endif %}
            </div>
          </div>
        </div>
        <div class="d-flex post-stamp mb-auto">
          <a style="display: inline;" href="{{ url_for('.post', id=post.id) }}">
            <span class="label label-default">
              {% if post.status == post.STATUS_DELETED %}
                [Удалено]
              {% elif post.status == post.STATUS_DRAFT %}
                [Черновик]
              {% elif post.status == post.STATUS_POSTPONED %}
                [Отложено на {{ post.publish_date.strftime('%d %B %Y') }}]
              {% elif post.status == post.STATUS_HIDDEN %}
                [Скрыто]
              {% endif %}
              Запись #{{ post.id }}
            </span>
          </a>
        </div>
      </div>
      <div class="d-flex post-title ck-content me-auto">
        <a href="{{ url_for('.post', id=post.id) }}">
          {{ post.title | safe }}
        </a>
      </div>

      <div class="modal fade justify-content-center" id="imageModal" tabindex="-1">
        <div class="">
          <button type="button" class="modal-control download" title="Сохранить" aria-label="Download image"><i class="bi bi-download"></i></button>
          <button type="button" class="modal-control" data-bs-dismiss="modal" title="Закрыть" aria-label="Close"><i class="bi bi-x-lg"></i></button>
        </div>
        <div class="modal-dialog modal-dialog-centered flex-column justify-content-center">
          <div id="modal_outer">
            <div class="modal-content">
              <div id="modal_inner">
                <div class="modal-body">
                  <img class="d-block w-100" src="">
                </div>
              </div>
              <div class="modal-caption text-center"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="post-body ck-content">
        {% if showhide == 'hide' %}
        <div class='post-body-sizer'>
          <div class='post-body-realsize'>
            {% if post.body_html %}
              {{ (post.body_html | safe) }}
            {% else %}
              {{ post.body }}
            {% endif %}
          </div>
        </div>
        {% elif showhide == 'show' %}
          {% if post.body_html %}
            {{ (post.body_html | safe) }}
          {% else %}
            {{ post.body }}
          {% endif %}
        {% endif %}
        <div class="mt-1 showhide">
          <a href="#"></a>
        </div>
        <div class="mt-1 fw-light fst-italic post-edited">
          {% if post.timestamp_modified.strftime('%m %d %Y %H %M %S') > post.timestamp.strftime('%m %d %Y %H %M %S') %}
            Изменено: {{ moment(post.timestamp_modified).fromNow() }}
          {% endif %}
        </div>
      </div>
      <div class="container-fluid p-0 post-controls">
        <div class="d-flex post-buttons">
          {% if current_user == post.author %}
            {% if post.status == post.STATUS_DELETED %}
              <form method="POST" action="{{ url_for('main.recover', id=post.id) }}">
                <button type="submit" class="post-button btn-sm btn-secondary">Восстановить</button>
              </form>
            {% else %}
              {% if post.status == post.STATUS_PUBLIC %}
                <form method="POST" action="{{ url_for('main.hide_post', id=post.id) }}">
                  <button type="submit" class="post-button btn-sm btn-info">Скрыть</button>
                </form>
              {% endif %}
              <form method="get" action="{{ url_for('main.edit', id=post.id) }}">
                <button type="submit" class="post-button btn-sm btn-secondary">Редактировать</button>
              </form>
              <form method="POST" action="{{ url_for('main.delete', id=post.id) }}">
                <button type="submit" class="post-button btn-sm btn-danger">Удалить</button>
              </form>
              {% if post.status == post.STATUS_DRAFT or post.status == post.STATUS_HIDDEN or post.status == post.STATUS_POSTPONED %}
                <form method="POST" action="{{ url_for('main.publish', id=post.id) }}">
                  <button type="submit" class="post-button btn-sm btn-success">Опубликовать</button>
                </form>
              {% endif %}
              {% if post.status == post.STATUS_POSTPONED %}
                <form method="POST" action="{{ url_for('main.postpone_remove', id=post.id) }}">
                  <button type="submit" class="post-button btn-sm btn-primary">Убрать из отложенных</button>
                </form>
              {% endif %}
            {% endif %}
          {% elif current_user.can(Permission.ADMIN) %}
            {% if post.status == post.STATUS_DELETED %}
              <form method="POST" action="{{ url_for('main.recover', id=post.id) }}">
                <button type="submit" class="post-button btn-sm btn-secondary">Восстановить [АДМИН]</button>
              </form>
            {% else %}
              <form method="get" action="{{ url_for('main.edit', id=post.id, edit_as_admin=True) }}">
                <button type="submit" class="post-button btn-sm btn-secondary">Редактировать [АДМИН]</button>
              </form>
              <form method="POST" action="{{ url_for('main.delete', id=post.id) }}">
                <button type="submit" class="post-button btn-sm btn-danger">Удалить [АДМИН]</button>
              </form>
              {% if post.status == post.STATUS_DRAFT %}
                <form method="POST" action="{{ url_for('main.publish', id=post.id) }}">
                  <button type="submit" class="post-button btn-sm btn-success">Опубликовать [АДМИН]</button>
                </form>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        <div class="d-flex post-links mt-sm-1 mt-3">
          {% if not (active_page == 'post') %}
            <a href="{{ url_for('.post', id=post.id) }}">
              <span>Читать далее</span>
            </a>
          {% endif %}
          {% if post.status == post.STATUS_PUBLIC %}
            <a href="{{ url_for('.post', id=post.id) }}#comments">
              <i class="far fa-comment fa-xl"></i>
              <span class="translate-middle badge rounded-pill bg-secondary">{{ post.comments.count() }}</span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

