{% extends "bootstrap/bootstrap_base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.0/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/content-styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/override.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.0/jquery-ui.min.js"></script>
<script src="/static/scripts/search_checkbox_menu.js"></script>
<script src="/static/scripts/goToTop.js"></script>
<script src="/static/scripts/modal_PostImage.js"></script>
<script src="/static/scripts/modal_ZoomDrag.js"></script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
  <div class="container flex-wrap">
    <div class="mx-auto mb-2">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">BName</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{ active_main }}" aria-current="page" href="{{ url_for('main.index') }}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ active_tags }}" aria-current="page" href="{{ url_for('main.tags_index') }}">Теги</a>
        </li>
        {% if current_user.can(Permission.WRITE) %}
        <li class="nav-item">
          <a class="nav-link {{ active_create }}" href="{{ url_for('main.create') }}">Новая запись</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <form class="d-flex" role="search" method="GET" action="{{ url_for('main.search') }}">
            <div class="input-group mb-3">
              <button type="submit" class="btn btn-outline-secondary">Поиск</button>
              <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class=""><i class="bi bi-gear-fill"></i></span>
              </button>
              <ul class="p-0 dropdown-menu search-checkbox-menu allow-focus">
                <li><p class="title">Искать в:</p></li>
                <li><hr class="m-1 dropdown-divider"></li>
                <li>
                  <label class="" for="TitleCheckBox">
                    <input checked class="form-check-input" type="checkbox" name="title" id="TitleCheckBox">
                    заголовках
                  </label>
                </li>
                <li>
                  <label class="" for="BodyCheckBox">
                    <input class="form-check-input" type="checkbox" name="body" id="BodyCheckBox">
                    тексте
                  </label>
                </li>
              </ul>
              <input required class="form-control" type="search" name="q"
                     value="{{ request.args.get('q', '') }}" aria-label="Search">
            </div>
          </form>
        </li>

        {% if current_user.can(Permission.MODERATE) %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Инструменты
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if current_user.can(Permission.ADMIN) %}
            <li><a class="dropdown-item" href="{{ url_for('admin.index') }}">Панель Администратора</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}

        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{ active_profile }}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="rounded-circle" src="{{ current_user.gravatar(size=18) }}">
            Аккаунт <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('main.user', username=current_user.username) }}">Открыть профиль</a></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.change_password') }}">Сменить пароль</a></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.change_email_request') }}">Сменить почту</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Выйти</a></li>
          </ul>
        </li>
        {% else %}
        <li><a class="nav-link" href="{{ url_for('auth.login') }}">Вход</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-5 content-body">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert {{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block page_content %}
    {% endblock %}
    <button id="gototop_btn" aria-label="Go to top">Наверх</button>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('ru') }}
{% endblock %}
