{% extends "base.html" %}

{% block title %}Создать запись{% endblock %}

{% block head %}
  {{ super() }}
  <script src="/static/scripts/autocomplete.js"></script>
<!--      <script src="/static/ckeditor5-build-classic/build/ckeditor.js"></script>-->
  <script src="/static/ckeditor/node_modules/@andschir/ckeditor5-build-classic-flask/build/ckeditor.js"></script>
  <script src="/static/scripts/cke5.js"></script>
{% endblock %}

{% block page_content %}


{% if current_user.can(Permission.WRITE) %}
<div class="container mb-3">
  <div class="page-header row mx-auto">
    {% if current_user.can(Permission.WRITE) %}
    <h2>Создание записи</h2>
    {% else %}
    <h1>Read-only: У вас нет разрешения создавать записи</h1>
    {% endif %}
  </div>
  <form action="{{ url_for('main.create') }}" class="form form-group form-horizontal" method="POST">
    {{ form.csrf_token }}
    <div class="row mx-auto mt-3">
      <h3>{{ form.title.label(class='control-label') }}</h3>
      <div class="">
        {{ form.title }}
      </div>
      <div id="title_empty"></div>
    </div>
    <div class="row mx-auto mt-3">
      <h3>{{ form.body.label(class='control-label') }}</h3>
      <div class="">
        {{ form.body }}
      </div>
      <div id="editor-autosave-header">
      <div id="editor-autosave-status" class="" hidden>
           <div id="editor-autosave-status_label">Автосохранение:</div>
                <div id="editor-autosave-status_spinner">
                     <span id="editor-autosave-status_spinner-label"></span>
                     <span id="editor-autosave-status_spinner-loader"></span>
                 </div>
            </div>
       </div>
      <div id="body_empty"></div>
    </div>
    <div class="row mx-auto mt-3">
        <p>{{ form.tags.label(class='control-label') }} {{ form.tags(class='w-100') }}</p>
    </div>
    <div class="row mx-auto mt-3 text-center">
      <div class="form-group mt-3">
        <div id="saved_successfully"></div>
        <button type="submit" id="btn_publish" class="btn btn-secondary" name="btn_submit" value="publish">Опубликовать</button>
        <button type="submit" id="btn_create_draft" class="btn btn-secondary" name="btn_submit" value="create_draft">Сохранить как черновик</button>
        <a type="button" id="btn_return" class="btn btn-danger" href="{{ url_for('main.index') }}">Назад</a>
      </div>
    </div>
  </form>
</div>
{% endif %}
{% endblock %}
