{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create post{% endblock %}

{% block head %}
    {{ super() }}
<!--    <script src="static/ckeditor5-build-classic/build/ckeditor.js"></script>-->
    <script src="/static/ckeditor/node_modules/@andschir/ckeditor5-build-classic-flask/build/ckeditor.js"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.can(Permission.WRITE) %}
    <h3>Новая запись</h3>
    {% else %}
    <h1>Read-only: У вас нет разрешения создавать записи</h1>
    {% endif %}
</div>
{% macro form_field(field) %}
<div class="form-group text-center">
		{{ field.label(class='control-label') }}
		<div>
			{{ field() }}
		</div>
</div>
{% endmacro %}


<div>
    <form action="{{ url_for('main.create') }}" class="form form-horizontal text-center" method="post">
        <div class="form-group">
            <div>
    {% if current_user.can(Permission.WRITE) %}
<!--        {{ wtf.quick_form(form) }}-->
        {{ form_field(form.title) }}
        {{ form_field(form.body) }}
{{ form.submit() }}
        {% include '_cke_config.html' %}
    {% endif %}
</div>
            <div class="col-sm-12">
                {{ form_field(form.status) }}
<!--                <button type="submit" class="btn btn-default">Создать</button>-->

                <a class="btn" href="{{ url_for('main.index') }}">Отмена</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}

