{% extends "base.html" %}/home/demino/WebProjects/flask
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create post{% endblock %}

{% block head %}
    {{ super() }}
    <script src="static/ckeditor/build/ckeditor.js"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.can(Permission.WRITE) %}
    <h1>Create new wonderfull Post!</h1>
    {% else %}
    <h1>You don't have permission to write so far :(</h1>
    {% endif %}
</div>

<div>
    {% if current_user.can(Permission.WRITE) %}

    {{ wtf.quick_form(form) }}
    <script>
        ClassicEditor
            .create( document.querySelector( '#title' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#body' ), {
                extraPlugins: ['SimpleUploadAdapter'],
                simpleUpload: {
                    uploadUrl: '/upload',
                },
                mediaEmbed: {previewsInData: true}
            } )
            .catch( error => {
                console.error( error.stack );
            } );
    </script>



    {% endif %}
</div>
{% endblock %}

