{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}Редактировать запись{% endblock %}

{% block head %}
  {{ super() }}
  <!--    <script src="static/ckeditor5-build-classic/build/ckeditor.js"></script>-->
  <script src="/static/ckeditor/node_modules/@andschir/ckeditor5-build-classic-flask/build/ckeditor.js"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Редактировать запись</h1>
  <p class="text-danger">{% if current_user.can(Permission.ADMIN) and (current_user != post.author) %} {{ 'Как Администратор' }} {% endif %}</p>
</div>

<div class="container mb-3">
  <form action="{{ url_for('main.edit', id=post.id) }}" class="form form-group form-horizontal text-center" method="POST">
    {{ form.csrf_token }}
    <div class="row mx-auto mt-3">
      <h3>{{ form.title.label(class='control-label') }}</h3>
      <div class="">
        {{ form.title }}
      </div>
    </div>
    <div class="row mx-auto mt-3">
      <h3>{{ form.body.label(class='control-label') }}</h3>
      <div class="">
        {{ form.body }}
      </div>
    </div>
    {% include '_cke_config.html' %}
    <div class="row mx-auto mt-3">
      <div class="form-group">
        <span>{{ form.status.label(class='control-label') }} {{ form.status }}</span>
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a type="button" class="btn btn-danger" href="{{ url_for('main.post', id=post.id) }}" onclick="history.back(-1)">Отмена</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}

