{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}Редактировать запись{% endblock %}

{% block head %}
  {{ super() }}
  <script src="/static/scripts/autocomplete.js"></script>
<!--      <script src="/static/ckeditor5-build-classic/build/ckeditor.js"></script>-->
  <script src="/static/ckeditor/node_modules/@andschir/ckeditor5-build-classic-flask/build/ckeditor.js"></script>
  <script src="/static/scripts/cke5.js"></script>
  <script src="/static/scripts/dateTimePicker.js"></script>
{% endblock %}

{% block page_content %}
<div class="container mb-3">
  <div class="page-header row mx-auto">
    <h1>Редактирование записи #{{ post.id}}</h1>
    <p class="text-danger">{% if current_user.can(Permission.ADMIN) and (current_user != post.author) %} {{ 'Как Администратор' }} {% endif %}</p>
  </div>
  <form action="{{ url_for('.edit', id=post.id) }}" class="form form-group form-horizontal" method="POST">
    {{ form.csrf_token }}
    <div class="row mx-auto mt-3">
      <h3>{{ form.title.label(class='control-label') }}</h3>
      <div class="">
        {{ form.title }}
      </div>
      <div id="title_empty"></div>
    </div>
    <div class="row mx-auto mt-3">
      <h3>{{ form.body.label(class='control-label') }}</h3>
      <div class="">
        {{ form.body }}
      </div>
      <div id="editor-autosave-header">
      <div id="editor-autosave-status" class="" hidden>
           <div id="editor-autosave-status_label">Автосохранение текста:</div>
                <div id="editor-autosave-status_spinner">
                     <span id="editor-autosave-status_spinner-label"></span>
                     <span id="editor-autosave-status_spinner-loader"></span>
                 </div>
            </div>
       </div>
      <div id="body_empty"></div>
    </div>
    <div class="row mx-auto mt-3">
        <p>{{ form.tags.label(class='control-label') }} {{ form.tags(class='w-100') }}</p>
    </div>
    <div class="row mx-auto mt-3 d-flex">
      <div class="form-group w-100 d-grid gap-3 d-sm-flex justify-content-sm-center align-items-start">
        {% if not (post.status == post.STATUS_HIDDEN or post.status == post.STATUS_PUBLIC) %}
          {% if not date %}
          <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                  data-bs-auto-close="false">Время публикации</button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" {% if date %} style="width: 340px;" {% endif %}>
            <li>
          {% endif %}
              <div class="d-flex {% if date %}col-sm-5{% endif %}">
                <div class='input-group {% if not date %}m-1{% endif %}' id='datetimepicker1' data-td-target-input='nearest' data-td-target-toggle='nearest'>
                  <span class='input-group-text' data-td-target='#datetimepicker1' data-td-toggle='datetimepicker'>
                    <span class='fas fa-calendar'></span>
                  </span>
                  <input type='text' id='datetimepicker1Input' class='form-control' data-td-target='#datetimepicker1' name="dateTimePicker"
                         placeholder="Введите дату" autocomplete="off" value="{{ date }}"/>
                  {% if not date %}
                  <button type="submit" id="btn_postpone" class="btn btn-secondary" name="btn_submit" value="postpone">Отложить</button>
                  {% endif %}
                </div>
              </div>
          {% if not date %}
            </li>
          </ul>
          {% endif %}
        {% endif %}
        <button type="submit" class="btn btn-secondary" name="btn_submit" value="save">Сохранить</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
