{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Поиск {% if posts %} записей {% elif tags %} тегов {% endif %}
    </h1>
    <p>
        По запросу «{{ search }}».
        Результатов найдено: {% if posts %} {{ posts|length }} {% elif tags %} {{ tags|length }} {% endif %}
    </p>
</div>

{% if posts %}
  <div class="post-tabs">
      {% set active_page = 'index' %}
      {% set showhide = 'hide' %}
      {% include '_posts.html' %}
  </div>
{% elif tags %}
  <div>
    {% for tag in tags | sort(attribute="name") %}
      <div>
        <a href="{{ url_for('main.tag_detail', slug=tag.slug) }}">{{ tag.name }}</a> ({{ tag.posts.count() }})
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

